<footer>
    <!--all the stuff for the whole stile that belongs in the header-->
    <hr>
    <nav>
        <a href="https://github.com/Churina" target="_blank">GitHub</a>&nbsp;    
        <a href="https://churina.github.io" target="_blank">GitHub.io</a>&nbsp;
        <a href="https://gitlab.com/Churina" target="_blank">GitLab</a>&nbsp;    
        <a href="https://churina.gitlab.io/home" target="_blank">GitLab.io </a>&nbsp; 
        <a href="https://www.freecodecamp.org/Churina" target="_blank">freeCodeCamp</a>&nbsp;      
        <a href="https://www.codecademy.com/profiles/Churina" target="_blank">Codeacademy</a>&nbsp;      
        <a href="https://www.linkedin.com/in/churina-sa-8b2a90248" target="_blank">LinkedIn</a>
    </nav> 
        <p>Designed by <a href="https://churina.gitlab.io/home/card/businesscard"><i>MSA LLC ©2022</i></a></p>&nbsp; 
        <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
            <img src="images/button_validation_html5.png" id="html_validation_button" width="88" height="31" alt="Validate webpage HTML." />
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer" id="validation_link_css">
            <img src="images/button_validation_css.png" id="css_validation_button" width="88" height="31" alt="Validate webpage CSS." />
        </a>        
    <script>
            const getHostname = (url) => {
            // use URL constructor and return hostname
            return new URL(url).hostname;
            }
            alert(getHostname);
        document.getElementById("html_validation_button").setAttribute("src", "/..images/button_validation_html5.png");
        document.getElementById("css_validation_button").setAttribute("src", "/..images/button_validation_css.png");
        document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>       
</footer>