<footer>
    <!--all the stuff for the whole stile that belongs in the header-->
    <nav>
        <a href="https://github.com/Churina" target="_blank">Github</a>&nbsp;    
        <a href="https://churina.github.io/" target="_blank">Github.io</a>&nbsp;      
        <a href="https://www.freecodecamp.org/Churina" target="_blank">freeCodeCamp</a>&nbsp;      
        <a href="https://www.codecademy.com/learn" target="_blank">Codeacademy</a>&nbsp;      
        <a href="https://www.linkedin.com/learning/?accountId=76141674&u=76141674&success=true&authUUID=ug33bZsWQtqFR8p51EcteA%3D%3D" target="_blank">LinkedIn learning</a>
    </nav>
    <p>
        <a href="https://validator.w3.org/check?uri=referer">
            <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
        </a>
        <a href="https://jigsaw.w3.org/css-validator/check/referer">
            <img src="images/button_validation_css.png" width="88" height="31" alt="Validate webpage CSS." />
        </a>        
    </p>
    <script>document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
        document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
    </script>    
    <h>Designed by <a href="">Pineer Tech Solution</a></h>
</footer>