<header>
    <!--all the stuff for the whole stile that belongs in the header-->
    <h1>Churina Sa's Clumsy Sloth | CP-CO-01</h1>
    <nav>
        <a href="index.html">Home</a>&nbsp; 
        <a href="introduction.html">Introduction</a>&nbsp; 
        <a href="contract.html">Contract</a>&nbsp; 
        <a href="about_us.html">Team</a>&nbsp; 
        <a href="template.html">Template</a>&nbsp; 
        <a href="fizzbuzz.html">FizzBuzz</a>
        <a href="pre-assessment.html">Pre-assessment</a>
    </nav>
</header>