
/*https://coolors.co/949474-a3a380-d6ce93-efebce-d8a48f-bb8588-c19093-c79a9d*/
body
{
    font-family:'segoe UI',Tahoma, Geneva, Verdana, sans-serif;
    color:silver;
    background-color:#13293D;
    padding:0;
    margin:0;
}
 
header,footer
{
    text-align:center;
    
}

header{padding:25px 0 0 0;}

main
{
    margin:10px;
    padding: 10px 150px;
    height:650px;
    font-size:large;
}

nav a
{
    font-size: 120%;
    margin-right:30px;
}

nav
{
    margin-top:10px;}
a
{
    text-decoration:none;
    color:orange;
}

a:hover
{
     color:red;
    }

.list
{
    display: flex;
    justify-content:center;
}

figure {text-align: center;}

.top-nav{font-size: medium;}

header nav a {color:yellow;}

footer
{
    height: 50px;
}

h2
{
  text-align: center;
  font-size:40px;
  font-family:cursive;
  color:#cba135;
}

h3
{
    text-align: center;
    font-family:cursive;
    font-size:20px;
}


.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
  } 

.introductionforme
{
    font-family:cursive;
    font-size:20px;
    margin:80px 180px;

}

.ivalue
{
    font-size:20px;
    font-family:cursive;
}

button
{
    display: block;
    font-family:Arial, Helvetica, sans-serif;
    margin: 15px auto;
    width: 20%;
    padding: 10px 0;
    font-size: 20px;
    background: #aeaeb1;
    border: 3px solid #3b3b4f;
    border-radius: 10px;
