
/*https://coolors.co/949474-a3a380-d6ce93-efebce-d8a48f-bb8588-c19093-c79a9d*/
body
{
    font-family:'segoe UI',Tahoma, Geneva, Verdana, sans-serif;
    color:silver;
    background-color:rgb(128, 0, 77);
    padding:0;
    margin:0;
}
 
header,footer
{
    text-align:center;
    
}

header{padding:25px 0 0 0;}

main
{
    margin:10px;
    padding: 10px 100px;
    height:600px;
}

nav a
{
    font-size: 120%;
    margin-right:30px;
}

nav
{
    margin-top:10px;}
a
{
    text-decoration:none;
    color:orange;
}

a:hover
{
     color:red;
    }

.list
{
    display: flex;
    justify-content:center;
}

figure {text-align: center;}




h2,h3
{
    text-align: center;
}

.top-nav{font-size: medium;}

header nav a {color:yellow;}

footer
{
    height: 50px;
}

h1{margin:0;}