
/*https://coolors.co/949474-a3a380-d6ce93-efebce-d8a48f-bb8588-c19093-c79a9d*/
html
{
    background-color: #457B9D;
    height:100%;
}

body
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:silver;
    width:80%;
    margin:auto;
    background-color:#13293D;
}
 
header
{
    text-align: center;
    padding:10px 0;
}
    
footer
{
    position:relative;
    display: block;
    text-align: center;
}

main
{
    display:block;
    margin:0 100px;
    padding:0 10px;
    font-size:large;

}

nav
{
    display:flex;
    justify-content: center;
    margin-top:0;
    padding:0;
}

a
{
    font-size:larger;
    margin-right:30px;
    color:orange;
    text-decoration:none;
}

a:hover
{
    color:red;
}

.list
{
    display: flex;
    justify-content:center;
    padding-top:0;
    font-size: 15px;
    margin:0 auto 50px;
}

.list li a{
    color:#cba135;
    text-decoration: none;
}

main li
{
    line-height:1.5em;
    font-size: 20px;
    list-style-type:square;
}

main nav li
{
    float:left;
}

figure 
{
    text-align: center;
}

footer p{
    font-size: medium;
    color: #457B9D;
}

footer p a
{
    font-size: medium;
    color: #457B9D;
    text-decoration: none;
}

h2
{
  text-align: center;
  font-size:35px;
  font-family:Arial, Helvetica, sans-serif;
  color:#cba135;
}

h3
{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:30px;
    color:#EDE580;
    margin:10px;
    padding: 1opx;
}

p
{
    margin:auto;
    padding:10px;
    font-size:larger;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height:1.5em;
}

button
{
    display: block;
    font-family:Arial, Tahoma, sans-serif;
    margin:50px auto 100px;
    font-size: 20px;
    background: #aeaeb1;
    border: 5px solid #3b3b4f;
    border-radius: 10px;
}

h4
{
    color:#C3DFE0;
    font-size: 25px;
    text-align: center;
}

dt,dd
{
    line-height:2em; 
    font-size: larger;
}

.background
{
    background-color: rgb(241, 241, 193);
    width: 33%;
}

.summary
{
    border:2px solid rgb(10, 11, 1);
    border-collapse: collapse;
    width: 33%;
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(241, 241, 193);
    font-size:larger;
    font-weight:bold;
    margin:10px;
}

th, td {
    text-align: left;
    padding: 8px;
    color: #3b3b4f;
    text-align: center;
    border:2px solid rgb(10, 11, 1);
  }

hr
{
    border: 2px solid #457B9D;
}